Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

knowledge injection
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
Due: none

More preds
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
Due: none

Predictions with knowledge injections
  data/evaluation/socket/sarc/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
Due: none

Knowledge injection
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/questionintimacy/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/tweet_emotion/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/tweet_irony/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
Due: none

Extra tasks to test knowledge injection
  data/evaluation/socket/socket_prompts_knowledge.csv
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change model
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Knowledge injection
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
Due: none

More preds
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
Due: none

more preds
  data/evaluation/socket/hateoffensive/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
Due: none

knowledge injection pred
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
Due: none

Knowledge injection preds
  data/evaluation/socket/crowdflower/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
Due: none

Preds
  data/evaluation/socket/dailydialog/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
Due: none

TEMP: Metrics
  src/social_llama/evaluation/metrics.py
  src/social_llama/evaluation/metrics_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update env
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

TEMP: Minor DPO changes
  scripts/dpo.sh
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Imgs
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/tweet_sentiment_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
  data/evaluation/socket/assets/two-to-lie#sender_truth_accuracy.png
Due: none

Scripts
  scripts/evaluation.sh
  scripts/merge_peft.sh
  scripts/sft.sh
  src/social_llama/training/merge_peft_adapter.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update evaluator to handle batching
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

LLM generation fix batching
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add a launch file
  .vscode/launch.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Minor changes
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add data collator function to dataloader to handle labels list
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluator works with batchsize on inference using pipeline
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Knowledge injection with original definitions
  data/evaluation/socket/socket_prompts_knowledge_original.csv
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Use inference and Llama 2
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

SFT mistral
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change to Llama model
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test multi-GPU setting and disable verbosity for tokenizer
  src/social_llama/data_processing/combine.py
  src/social_llama/data_processing/dataclass.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Knowledge injection original label description performance
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
Due: none

More predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
Due: none

Knowledge injection original - results
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
Due: none

Classification script
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Classifier
  .pre-commit-config.yaml
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Script
  scripts/classifier.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Classification update
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change dataset type format
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  bandit: any of: \.py$, but not: ^data/
  black: any of: \.py$, but not: ^data/
  check-added-large-files: any file but: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  end-of-file-fixer: any file but: ^data/
  flake8: any of: \.py$, but not: ^data/
  pyupgrade: any of: \.py$, but not: ^data/
  trailing-whitespace: any file but: ^data/
