Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: "^data/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: "^data/"
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: "^data/"
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: "^data/"
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: "^data/"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: "^data/"
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: "^data/"
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: "^data/"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: "^data/"
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: "^data/"

Merge branch 'feature/inferenceclient_evaluation' of github.com:AGMoller/social-llama into feature/inferenceclient_evaluation
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Properly initialize the llama config
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add socket
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test output
  data/evaluation/social-dimensions/AGMoller/social_llama_7b_cot_predictions_v1_test.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_v2_test.json
Due: none

Predictions
  data/evaluation/social-dimensions/AGMoller/social_llama_7b_cot_predictions.json
  data/evaluation/social-dimensions/AGMoller/social_llama_7b_few-shot_predictions.json
  data/evaluation/social-dimensions/AGMoller/social_llama_7b_zero-shot_predictions.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_zero-shot_predictions_v2.json
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_zero-shot_predictions_v2.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
Due: none

Rename
  data/evaluation/social-dimensions/meta-llama/Llama-2-7b-chat-hf_predictions_incorrect_prompt.json
Due: none

sarc socket social llama preds
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_few-shot_predictions_v2.json
Due: none

prediction results
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_cot_predictions_v2.json
Due: none

Results tweet irony
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_zero-shot_predictions_v2.json
Due: none

More results
  data/evaluation/social-dimensions/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_few-shot_predictions_v2.json
Due: none

Eval results
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social_llama_7b_zero-shot_predictions_v2.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/hateoffensive/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/hateoffensive/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social_llama_7b_few-shot_predictions_v2.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#incitement_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#inferiority_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#threatening_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/implicit-hate#white_grievance_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#identity_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#insult/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#obscene/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#severe_toxic/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#threat/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/jigsaw#toxic/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/offensiveyn/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/sexyn/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_cot_predictions_v2.json
  data/evaluation/socket/tweet_offensive/meta-llama/Llama-2-7b-chat-hf_predictions_v2.json
Due: none

Predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/hateoffensive/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/hateoffensive/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#incitement_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
Due: none

Predictions
  data/evaluation/social-dimensions/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/implicit-hate#inferiority_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#threatening_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
Due: none

Update preds
  data/evaluation/socket/implicit-hate#incitement_hate/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/implicit-hate#incitement_hate/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/implicit-hate#white_grievance_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social_llama_7b_few-shot_predictions_v3.json
Due: none

More results
  data/evaluation/socket/jigsaw#identity_hate/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
Due: none

Results
  data/evaluation/socket/tweet_irony/AGMoller/social_llama_7b_few-shot_predictions_v3.json
Due: none

Prepare knowledge injectio
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Try empty prompt prefix for social-dimensions
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update venv
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Evaluation scripts for social dimensions and socket
  src/social_llama/evaluation/metrics.py
  src/social_llama/evaluation/metrics_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

More results
  data/evaluation/socket/jigsaw#severe_toxic/AGMoller/social_llama_7b_cot_predictions_v3.json
Due: none

Predictions
  data/evaluation/socket/jigsaw#severe_toxic/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
Due: none

Incorporate SOCKET into training
  src/social_llama/data_processing/socket.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update liniting rules
  .darglint
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Evaluations
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/jigsaw#threat/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/jigsaw#threat/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/jigsaw#toxic/AGMoller/social_llama_7b_cot_predictions_v3.json
Due: none

Remove input param
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Results
  data/evaluation/socket/jigsaw#toxic/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
Due: none

Plots
  data/evaluation/socket/assets/jigsaw#severe_toxic_accuracy.png
Due: none

Eval plots - temporary
  data/evaluation/socket/assets/bragging#brag_achievement_accuracy.png
  data/evaluation/socket/assets/bragging#brag_action_accuracy.png
  data/evaluation/socket/assets/bragging#brag_possession_accuracy.png
  data/evaluation/socket/assets/bragging#brag_trait_accuracy.png
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/empathy#empathy_bin_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#incitement_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#inferiority_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/jigsaw#threat_accuracy.png
  data/evaluation/socket/assets/jigsaw#toxic_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/sentitreebank_accuracy.png
  data/evaluation/socket/assets/sexyn_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_emoji_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/tweet_sentiment_accuracy.png
Due: none

Fix sft
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change seq length
  src/social_llama/data_processing/socket.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update dataclass
  src/social_llama/data_processing/dataclass.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Increase batchsize
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Adding numbers
  data/evaluation/socket/implicit-hate#threatening_hate/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/two-to-lie#receiver_truth/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/two-to-lie#receiver_truth/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/two-to-lie#sender_truth/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/two-to-lie#sender_truth/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
Due: none

Few-shot numbers
  data/evaluation/socket/implicit-hate#white_grievance_hate/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/intentyn/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/jigsaw#identity_hate/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/jigsaw#insult/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/jigsaw#obscene/AGMoller/social_llama_7b_few-shot_predictions_v3.json
Due: none

Plots
  data/evaluation/socket/assets/implicit-hate#threatening_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#white_grievance_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/jigsaw#identity_hate_accuracy.png
  data/evaluation/socket/assets/jigsaw#insult_accuracy.png
  data/evaluation/socket/assets/jigsaw#obscene_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
  data/evaluation/socket/assets/two-to-lie#sender_truth_accuracy.png
Due: none

Add DPO support
  src/social_llama/data_processing/socket.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
