Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: "^data/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: "^data/"
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: "^data/"
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: "^data/"
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: "^data/"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: "^data/"
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: "^data/"
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: "^data/"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: "^data/"
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: "^data/"

Prepare RAG to run for multiple models (old datasets)
  scripts/rag.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/hahackathon#is_humor/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/hateoffensive/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/questionintimacy/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/sarc/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/tweet_emotion/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/tweet_irony/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

Temp update on results
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Predictions - knowledge and RAG
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/crowdflower/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/crowdflower/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/dailydialog/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/dailydialog/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/hahackathon#is_humor/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hateoffensive/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#explicit_hate/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/implicit-hate#explicit_hate/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#implicit_hate/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/implicit-hate#implicit_hate/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/questionintimacy/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/sarc/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/tweet_emotion/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/tweet_irony/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
Due: none

Prepare zero-shot evaluation
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Temporary results
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
Due: none

Prepare multilabel
  src/social_llama/evaluation/evaluate_multilabel.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Init
  src/social_llama/evaluation/evaluate_multilabel.py
  src/social_llama/training/classification_news.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Renaming
  scripts/classifier_multilabel.sh
  src/social_llama/training/classification_news_multilabel.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Updates
  src/social_llama/training/classification_news.py
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update eval of multilabel
  src/social_llama/evaluation/evaluate_multilabel.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Increase running time in script
  scripts/classifier_multilabel.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Run correct model
  scripts/classifier_multilabel.sh
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

DPO
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Zer-shot and rag results
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/sarc/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/multilabel/google/gemma-2b_Computer Science.json
  data/multilabel/google/gemma-2b_Mathematics.json
  data/multilabel/google/gemma-2b_Physics.json
  data/multilabel/google/gemma-2b_Quantitative Biology.json
  data/multilabel/google/gemma-2b_Quantitative Finance.json
  data/multilabel/google/gemma-2b_Statistics.json
  data/multilabel/google/gemma-2b_multilabel-model_ovr-eval.json
Due: none

Temporary results
  .DS_Store
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

imgs
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
Due: none

Evaluation and DPO for Gemma
  scripts/evaluation.sh
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/dpo.py
  src/social_llama/training/merge_peft_adapter.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update env
  env.yml
  environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Fix evaluator and selection of prompts
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Read prompts based on note
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix max output length
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Social Llama zero-shot and knowledge predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-beta_predictions_zero-shot.json
Due: none

Updates
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
  scripts/env.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update
  src/social_llama/evaluation/evaluate_multilabel.py
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Multilabel models
  data/multilabel/google/gemma-2b_ovr-model_multilabel-eval.json
Due: none

Prepare classifier
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Minor update
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/dpo.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add 7b Gemma model
  src/social_llama/training/classification_news_multilabel.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare RAG to use local models
  scripts/rag.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Run locally hosted model for RAG
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change target modules for peft
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Merge models
  scripts/rag.sh
  src/social_llama/training/merge_peft_adapter.py
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare evaluate for zero-shot for LUMI
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change batch size and padding
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update eval and merge
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/merge_peft_adapter.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
