Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Add timeout to RAG
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update metrics
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Multilabel OVR training and evaluation
  src/social_llama/training/classification_news.py
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Multilabel model evaluated OVR
  data/multilabel/multilabel_ovr_eval.json
Due: none

Predictions for remaining RAGs
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
Due: none

Linting
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

RAG predictions
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
Due: none

Ignore some tasks
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Save for git history
  data/social-dimensions/processed/split.ipynb
Due: none

Update gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Rename files for consistency
  data/multilabel/roberta-large_Computer Science.json
  data/multilabel/roberta-large_Mathematics.json
  data/multilabel/roberta-large_Physics.json
  data/multilabel/roberta-large_Quantitative Biology.json
  data/multilabel/roberta-large_Quantitative Finance.json
  data/multilabel/roberta-large_Statistics.json
  data/multilabel/roberta-large_multilabel-model_ovr-eval.json
  data/multilabel/roberta-large_ovr-model_multilabel-eval.json
Due: none

Assert correct filenaming when training and evaluating
  src/social_llama/evaluation/evaluate_multilabel.py
  src/social_llama/training/classification_news.py
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Train Llama
  src/social_llama/training/classification_news.py
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update scripts
  scripts/classifier_multilabel_ovr.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Zero-shot: Add additional dataset and prompts for Gemma and Mistral
  poetry.lock
  src/social_llama/config.py
  src/social_llama/data_processing/dataclass.py
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Zero-shot: Fix runner parameters
  scripts/evaluation.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Prepare RAG system to new datasets and Gemma/Mistral format
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add knowledge prompts
  data/evaluation/socket/socket_prompts_knowledge.csv
Due: none

Add one extra task
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Trust remote code and fix systems errors in knowledge prompts
  data/evaluation/socket/socket_prompts_knowledge.csv
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare evaluator for knowledge injection evaluation
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Zero-shot predictions Llama and Gemma
  data/evaluation/socket/complaints/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/complaints/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/intentyn/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/google/gemma-7b-it_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/meta-llama/Llama-2-7b-chat-hf_predictions_zero-shot.json
  data/multilabel/meta-llama/Llama-2-7b-hf_Computer Science.json
  data/multilabel/meta-llama/Llama-2-7b-hf_multilabel-model_ovr-eval.json
Due: none

Llama and Gemma zero-shot predictions
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Predictions
  data/evaluation/socket/hasbiasedimplication/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

Prepare SFT for Gemma
  src/social_llama/data_processing/combine.py
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/data_processing/socket.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change note
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

yml
  env.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Predictions
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/tweet_offensive/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

More predictions
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/intentyn/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/offensiveyn/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/tweet_offensive/google/gemma-7b-it_predictions_RAG.json
Due: none

Make yml file
  environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Preds
  data/evaluation/socket/complaints/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/empathy#distress_bin/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hayati_politeness/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/hypo-l/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/offensiveyn/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/stanfordpoliteness/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

RAG and knowledge predictions
  data/evaluation/socket/complaints/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/complaints/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/complaints/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/empathy#distress_bin/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/hayati_politeness/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hayati_politeness/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/hayati_politeness/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hypo-l/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hypo-l/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/hypo-l/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/intentyn/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/offensiveyn/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/offensiveyn/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/rumor#rumor_bool/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/stanfordpoliteness/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/stanfordpoliteness/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/stanfordpoliteness/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/tweet_offensive/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/tweet_offensive/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/google/gemma-7b-it_predictions_knowledge.json
  data/evaluation/socket/two-to-lie#receiver_truth/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

Images
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Imgs
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
Due: none

Predictions
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

predictions
  data/evaluation/socket/hahackathon#is_humor/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
  data/evaluation/socket/sarc/google/gemma-7b-it_predictions_RAG.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge.json
Due: none

Update socket prompts to align with correct labels
  data/evaluation/socket/socket_prompts_knowledge.csv
Due: none

Run RAG and knowledge on old datasets
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update runner scripts
  scripts/env.sh
  scripts/evaluation.sh
  scripts/rag.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Path conditions:
  bandit: any of: \.py$, but not: ^data/
  black: any of: \.py$, but not: ^data/
  check-added-large-files: any file but: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  end-of-file-fixer: any file but: ^data/
  flake8: any of: \.py$, but not: ^data/
  pyupgrade: any of: \.py$, but not: ^data/
  trailing-whitespace: any file but: ^data/
