Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Update preds for roberta large
  data/evaluation/ten-dim/roberta-large-lora-10-dim.json
Due: none

Minor change
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test predictions
  data/evaluation/ten-dim/Llama-2-7b-hf-lora-10-dim.json
  data/evaluation/ten-dim/Mistral-7B-v0.1-lora-10-dim.json
  data/evaluation/ten-dim/bert_test.json
  data/evaluation/ten-dim/lstm_test.json
Due: none

Update gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Eval script
  scripts/classifier_eval.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Force download of data and model to ensure use of lastest model
  src/social_llama/evaluation/evaluator_ten_dim.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Remove comments in runnner
  scripts/classifier.sh
  scripts/classifier_eval.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update darglint
  .darglint
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

RAG for social-dimensions
  poetry.lock
  pyproject.toml
  src/social_llama/config.py
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

RAG Runner
  scripts/rag.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Ignore vector DBs made
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Refactoring RAG - WIP
  .darglint
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

RAG env
  poetry.lock
  scripts/rag.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

OVR setup
  src/social_llama/config.py
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update script or OVR
  scripts/classifier_multilabel.sh
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update git ignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update RAG to refresh LLM client
  scripts/rag.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change back hyperparams, and add test predictions
  data/multilabel/Computer Science.json
  data/multilabel/Mathematics.json
  data/multilabel/Physics.json
  data/multilabel/Statistics.json
  src/social_llama/training/classification_news_ovr.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

OVR multilabel preds
  data/multilabel/Computer Science.json
Due: none

Social Dims eval preds with RAG
  data/evaluation/social-dimensions/assets/social_dimensions_accuracy.png
Due: none

Use 7B model for RAG
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluation script modification for RAG
  src/social_llama/evaluation/metrics_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Multilabel evaluation script
  src/social_llama/evaluation/evaluate_multilabel.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare RAG for the SOCKET tasks
  .flake8
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Assert the correct model is used
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Make sure for RAG to use all samples
  scripts/rag.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Preds?
  data/multilabel/Mathematics.json
  data/multilabel/Physics.json
  data/multilabel/Statistics.json
Due: none

Preds
  data/multilabel/Quantitative Biology.json
  data/multilabel/Quantitative Finance.json
Due: none

Adding another RAG
  data/evaluation/social-dimensions/assets/social_dimensions_accuracy.png
Due: none

RAG preds
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
Due: none

Metrics
  .flake8
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Predictions
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
Due: none

Metrics
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

More RAG preds
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_RAG.json
Due: none

Daily dialogue performance
  data/evaluation/socket/assets/dailydialog_accuracy.png
Due: none

Add the remaining three tasks for RAG.
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  bandit: any of: \.py$, but not: ^data/
  black: any of: \.py$, but not: ^data/
  check-added-large-files: any file but: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  end-of-file-fixer: any file but: ^data/
  flake8: any of: \.py$, but not: ^data/
  pyupgrade: any of: \.py$, but not: ^data/
  trailing-whitespace: any file but: ^data/
