Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: "^data/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: "^data/"
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: "^data/"
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: "^data/"
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: "^data/"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: "^data/"
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: "^data/"
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: "^data/"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: "^data/"
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: "^data/"

Basic dataclass and tests
  poetry.lock
  pyproject.toml
  src/social_llama/data_processing/dataclass.py
  tests/test_dataclass.py
Due: bandit, black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update env
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Social dimensions processing functionality
  bandit.yml
  models/social_dimensions/sft/empty.txt
  src/social_llama/config.py
  src/social_llama/data_processing/dataclass.py
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/sft.py
  src/social_llama/utils.py
  tests/test_dataclass.py
Due: bandit, black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Nox settings for sessions
  .darglint
  .flake8
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Zero shot, few shot, COT
  src/social_llama/config.py
  src/social_llama/data_processing/dataclass.py
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add a few tests, fix typing, zero-shot, few-shot and CoT implemented for sft
  .flake8
  src/social_llama/data_processing/dataclass.py
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/sft.py
  tests/test_dataclass.py
  tests/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix tests
  tests/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Data preparation for DPO script. Basically supporting Q&A format
  src/social_llama/data_processing/dataclass.py
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

update env
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

add docstring to conver to Q&A function
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test zero-shot, few-shot, and CoT for Q&A functions
  .flake8
  src/social_llama/data_processing/social_dimensions.py
  tests/data_processing/test_social_dimensions.py
  tests/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fixing type errors
  src/social_llama/data_processing/social_dimensions.py
  tests/data_processing/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update docstring
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Assert ew use proper preprocessing for STF
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix labeler workflow
  .github/workflows/labeler.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add license to readme
  README.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Change version
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Update env
  .gitignore
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Training: Use auto and fp16
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

sft shell script
  scripts/sft.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix pre-commit
  .gitignore
  pyproject.toml
  scripts/sft.sh
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Update gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update lock file
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Prepare DPO
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Use chatmodel
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add env example
  .env.example
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update git ignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix social dimensions prompts
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix tests for new prompts
  tests/data_processing/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Modify DPO script
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add Llama default prompt template
  src/social_llama/config.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Llama prompt in dataclass
  src/social_llama/data_processing/dataclass.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add new prompts to data class
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/data_processing/social_dimensions.py
  tests/data_processing/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

update SFT and run 8bit quant
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Load dotenv
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add merge peft adapter
  src/social_llama/training/merge_peft_adapter.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Minor changes to training framework
  src/social_llama/training/dpo.py
  src/social_llama/training/merge_peft_adapter.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update env to load dotenv
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace
