Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Train 7B model
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update RAG to use local LLM
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update DPO for v3
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

2b and 7b multilabel OVR results
  data/evaluation/ten-dim/google/gemma-2b_multilabel-model_ovr-eval.json
  data/evaluation/ten-dim/google/gemma-7b_multilabel-model_ovr-eval.json
Due: none

Present preliminary results
  data/evaluation/socket/assets/present.ipynb
  data/evaluation/socket/assets/results_gemma.csv
  data/evaluation/socket/assets/results_llama.csv
Due: none

Imgs
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
Due: none

Formatting
  src/social_llama/evaluation/evaluator.py
  src/social_llama/evaluation/metrics.py
  src/social_llama/training/dpo.py
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare visuals
  data/evaluation/socket/assets/present.ipynb
Due: none

Classification with new params
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update RAG script
  scripts/rag.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Roberta and Gemma 2B
  data/evaluation/ten-dim/google/gemma-2b_multilabel-model_ovr-eval-sameBS_.json
  data/evaluation/ten-dim/roberta-large_multilabel-model_ovr-eval.json
Due: none

Test larger training split and different seed
  src/social_llama/training/classification.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test
  src/social_llama/evaluation/test_local_llm_pipeline.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Remove initial message from chat history
  src/social_llama/evaluation/test_local_llm_pipeline.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

predictions non-chat
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
Due: none

Predictions - non-chat model
  data/evaluation/socket/complaints/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/intentyn/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
Due: none

Git his
  src/social_llama/evaluation/evaluator.py
  src/social_llama/evaluation/test_local_llm.py
  src/social_llama/evaluation/test_local_llm_pipeline.py
  src/social_llama/training/dpo.py
  src/social_llama/training/merge_peft_adapter.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Testing a different split - CHECK THIS!
  data/evaluation/ten-dim/google/gemma-2b_multilabel-model_ovr-eval-TEST-SPLIT.json
Due: none

Social llama alpha v2 predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
Due: none

Predictions
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
Due: none

SocialiteLlama predictions
  data/evaluation/socket/complaints/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/intentyn/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/sarc/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/hlab/SocialiteLlama_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/hlab/SocialiteLlama_predictions_zero-shot.json
Due: none

temporary stuff - clean later
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/results_llama.csv
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
  src/social_llama/evaluation/metrics.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Gemma zero-shot
  data/evaluation/socket/complaints/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/intentyn/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/sarc/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/google/gemma-7b_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/google/gemma-7b_predictions_zero-shot.json
Due: none

Update evaluation metrics and assets
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Reverse instructions
  src/social_llama/config.py
  src/social_llama/evaluation/test_local_llm.py
  src/social_llama/evaluation/test_local_llm_pipeline.py
  src/social_llama/reverse_instructions/instruction_configs.py
  src/social_llama/reverse_instructions/instruction_generation.py
  src/social_llama/reverse_instructions/utils.py
  src/social_llama/training/merge_peft_adapter.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Calculate generation price
  src/social_llama/reverse_instructions/instruction_configs.py
  src/social_llama/reverse_instructions/instruction_generation.py
  src/social_llama/reverse_instructions/utils.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add indices to produce in batches
  src/social_llama/reverse_instructions/instruction_configs.py
  src/social_llama/reverse_instructions/instruction_generation.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add instruction generation script
  scripts/instruction_generation.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Change runningtime
  scripts/instruction_generation.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update environment
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Use multiprocessing 💨💨💨💨
  src/social_llama/reverse_instructions/instruction_generation.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Instruction Socket data handling and prepare for SFT and DPO
  src/social_llama/data_processing/instruction_socket.py
  src/social_llama/reverse_instructions/instruction_configs.py
  src/social_llama/reverse_instructions/instruction_generation.py
  src/social_llama/reverse_instructions/instruction_processing.py
  src/social_llama/reverse_instructions/utils.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

DPO for instruction SOCKET
  .gitignore
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Predictions
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
Due: none

Do instruction evaluation
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Predictions
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
Due: none

Preds
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
Due: none

Path conditions:
  bandit: any of: \.py$, but not: ^data/
  black: any of: \.py$, but not: ^data/
  check-added-large-files: any file but: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  end-of-file-fixer: any file but: ^data/
  flake8: any of: \.py$, but not: ^data/
  pyupgrade: any of: \.py$, but not: ^data/
  trailing-whitespace: any file but: ^data/
