Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: "^data/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: "^data/"
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: "^data/"
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: "^data/"
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: "^data/"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: "^data/"
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: "^data/"
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: "^data/"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: "^data/"
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: "^data/"

Predictions
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
Due: none

Preds
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
Due: none

Preds
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
Due: none

Preds
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot_instruction_prompt.json
Due: none

Llama 3 preds
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/crowdflower/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/hateoffensive/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/questionintimacy/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/sarc/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/tweet_emotion/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
  data/evaluation/socket/tweet_irony/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot_instruction_prompt.json
Due: none

Last knowledge pred
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Meta-Llama-3-8B-Instruct_predictions_knowledge.json
Due: none

Social Llama instruction preds
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
Due: none

Preds
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
Due: none

Predictions instructions
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-3-8b-instructions_predictions_zero-shot.json
Due: none

Llama 3 beta prds
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
Due: none

Preds for zero-shot trained
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
Due: none

Last predictions
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-3-8b-beta_predictions_zero-shot.json
Due: none

Performance plots (for git his)
  data/evaluation/socket/assets/complaints_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#IdentityDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/contextual-abuse#PersonDirectedAbuse_accuracy.png
  data/evaluation/socket/assets/crowdflower_accuracy.png
  data/evaluation/socket/assets/dailydialog_accuracy.png
  data/evaluation/socket/assets/empathy#distress_bin_accuracy.png
  data/evaluation/socket/assets/hahackathon#is_humor_accuracy.png
  data/evaluation/socket/assets/hasbiasedimplication_accuracy.png
  data/evaluation/socket/assets/hateoffensive_accuracy.png
  data/evaluation/socket/assets/hayati_politeness_accuracy.png
  data/evaluation/socket/assets/hypo-l_accuracy.png
  data/evaluation/socket/assets/implicit-hate#explicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#implicit_hate_accuracy.png
  data/evaluation/socket/assets/implicit-hate#stereotypical_hate_accuracy.png
  data/evaluation/socket/assets/intentyn_accuracy.png
  data/evaluation/socket/assets/offensiveyn_accuracy.png
  data/evaluation/socket/assets/questionintimacy_accuracy.png
  data/evaluation/socket/assets/rumor#rumor_bool_accuracy.png
  data/evaluation/socket/assets/sarc_accuracy.png
  data/evaluation/socket/assets/stanfordpoliteness_accuracy.png
  data/evaluation/socket/assets/tweet_emotion_accuracy.png
  data/evaluation/socket/assets/tweet_irony_accuracy.png
  data/evaluation/socket/assets/tweet_offensive_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Rename zero-shot files
  data/evaluation/socket/complaints/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_knowledge_injection.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_cot_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_few-shot_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social_llama_7b_zero-shot_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/hayati_politeness/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/hypo-l/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#implicit_hate/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/intentyn/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/questionintimacy/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/rumor#rumor_bool/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/sarc/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/stanfordpoliteness/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/tweet_emotion/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/tweet_offensive/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
  data/evaluation/socket/two-to-lie#receiver_truth/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
Due: none

hallo
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Add last pred
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Meta-Llama-3-8B-Instruct_predictions_zero-shot.json
Due: none

Odd merge conflict
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
Due: none

Fine-tune + RAG preds
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
Due: none

Instruction RAG preds
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/offensiveyn/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
Due: none

preds
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/crowdflower/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/implicit-hate#implicit_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
Due: none

Preds
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/sarc/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
Due: none

Remove old preds
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/crowdflower/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/dailydialog/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/empathy#distress_bin/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-alpha-v2_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-alpha_predictions_knwldg_inj_orig.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-instructions_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/AndersGiovanni/social-llama-7b-insturctions_predictions_zero-shot.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/hateoffensive/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/implicit-hate#explicit_hate/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
Due: none

predictions
  data/evaluation/socket/complaints/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/empathy#distress_bin/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/hayati_politeness/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/hypo-l/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/offensiveyn/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/questionintimacy/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/rumor#rumor_bool/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/stanfordpoliteness/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
Due: none

More preds
  data/evaluation/socket/tweet_emotion/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
Due: none

update rag
  scripts/rag.sh
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Remove old files
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knowledge_injection.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_knwldg_inj_orig.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-chat-hf_predictions_v3.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-7b-hf_predictions_zero-shot.json
  data/evaluation/socket/tweet_irony/AndersGiovanni/social-llama-7b-beta_predictions_knowledge.json
Due: none

Update runners
  scripts/classifier.sh
  scripts/evaluation.sh
  scripts/lumi_evaluator.sh
  scripts/merge_peft.sh
  scripts/rag.sh
  scripts/sft.sh
  scripts/trainer.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update enviroment
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Add preliminary fine-tune + RAG results (long runningtimes)
  data/evaluation/socket/hahackathon#is_humor/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
  data/evaluation/socket/hasbiasedimplication/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AndersGiovanni/social-llama-3-8b-beta_predictions_RAG.json
  data/evaluation/socket/intentyn/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/tweet_offensive/AndersGiovanni/social-llama-3-8b-instructions_predictions_RAG.json
  data/evaluation/socket/two-to-lie#receiver_truth/AndersGiovanni/social-llama-7b-instructions_predictions_RAG.json
Due: none

Minor renaming for pipeline
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/dpo.py
  src/social_llama/training/merge_peft_adapter.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add inference endpoint for RAG
  src/social_llama/training/rag.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update lock file
  poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Formatting
  scripts/evaluation.sh
  scripts/lumi_evaluator.sh
  scripts/rag.sh
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/merge_peft_adapter.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare pipeline for single task fine-tuning
  scripts/train_eval_single_task.sh
  src/social_llama/data_processing/socket.py
  src/social_llama/evaluation/evaluator.py
  src/social_llama/training/dpo.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
