Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
        exclude: "^data/"
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: "^data/"
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        exclude: "^data/"
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
        exclude: "^data/"
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
        exclude: "^data/"
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
        exclude: "^data/"
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
        exclude: "^data/"
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
        exclude: "^data/"
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: "^data/"
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "^data/"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: "^data/"

update SFT
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Adapt to HF chat template. Preprocessing still doesn't work for SFT
  poetry.lock
  pyproject.toml
  src/social_llama/config.py
  src/social_llama/data_processing/dataclass.py
  src/social_llama/data_processing/dataset_configs.py
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update env
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Add alternative system message (only an option)
  src/social_llama/config.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

In task specific path, it should only refer to the folder
  src/social_llama/data_processing/dataset_configs.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Use pre-defined train test
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Assert correct saving og files
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Assert tests are working
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/dpo.py
  tests/data_processing/test_social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update issue templates
  .github/ISSUE_TEMPLATE/🐛-bug-report.md
  .github/ISSUE_TEMPLATE/🚀-feature-request.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Formatting
  .github/ISSUE_TEMPLATE/🐛-bug-report.md
  .github/ISSUE_TEMPLATE/🚀-feature-request.md
  src/social_llama/training/dpo.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update workflow to do HF CLI login
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Test workflow again
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Install hf hub correctly
  .github/workflows/tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

DPO minor changes
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

DPO script
  scripts/dpo.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

DPO zero-shot update
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Adapt DPO to few-shot and CoT
  src/social_llama/data_processing/social_dimensions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

DPO use fp32
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Use last par of model name for run name
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Use float32 in DPO
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add socket prompts
  data/evaluation/socket/socket_prompts.csv
Due: none

Add SOCKET to config
  src/social_llama/config.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

WIP: Evaluation of SOCKET datasets
  src/social_llama/evaluation/eval.py
  src/social_llama/evaluation/helper_functions.py
  tests/data_processing/test_social_dimensions.py
  tests/evaluation/test_helper_functions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluate using inference client model
  scripts/evaluation.sh
  src/social_llama/config.py
  src/social_llama/evaluation/evaluator.py
  src/social_llama/evaluation/helper_functions.py
  src/social_llama/utils.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Error handling on the inference client
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Zero-shot Llama 7B
  data/evaluation/social-dimensions/meta-llama/Llama-2-7b-chat-hf_predictions.json
Due: none

Update eval sh script
  scripts/evaluation.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Merge script
  scripts/merge_peft.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Test Social Llama
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor change
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Handle the generated text
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluator socket zero-shot Llama 7b
  .flake8
  src/social_llama/config.py
  src/social_llama/evaluation/evaluator.py
  src/social_llama/evaluation/helper_functions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Sample 2000 if length is crazy high
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update config
  src/social_llama/config.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add prompt prefix if applicable
  src/social_llama/config.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Select correct output from model
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change task
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
