Repository AndersGiovanni/social-llama: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

sft
  scripts/sft.sh
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Combine SOCKET and social dim datasets
  src/social_llama/data_processing/combine.py
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

SFT on combined
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update DPO script to handle SOCKET and combined
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add DPO to combined
  src/social_llama/data_processing/combine.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change DPO to use zero-shot
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Run for 2000 steps
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Minor things that needs to be fixed properly later
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/data_processing/socket.py
  src/social_llama/evaluation/helper_functions.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Add eval results
  data/evaluation/social-dimensions/AGMoller/social-llama-7b-alpha_predictions_empty_prompt_prefix.json
  data/evaluation/social-dimensions/AGMoller/social-llama-7b-beta_predictions_empty_prompt_prefix.json
  data/evaluation/socket/assets/jigsaw#insult_accuracy.png
  data/evaluation/socket/assets/jigsaw#obscene_accuracy.png
  data/evaluation/socket/assets/two-to-lie#receiver_truth_accuracy.png
  data/evaluation/socket/assets/two-to-lie#sender_truth_accuracy.png
Due: none

Add prompt pre-fix for social dim for comparison
  src/social_llama/data_processing/social_dimensions.py
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Run v3 prompt (with prompt prefix for beta and alpha models
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update sh script
  scripts/evaluation.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add new results
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/tweet_irony/AGMoller/social-llama-7b-alpha_predictions_v3.json
Due: none

Alpha predictions
  data/evaluation/social-dimensions/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_v3.json
Due: none

predictions
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/AGMoller/social-llama-7b-beta_predictions_v3.json
Due: none

Preds
  data/evaluation/social-dimensions/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/sarc/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/tweet_irony/AGMoller/social-llama-7b-beta_predictions_v3.json
Due: none

Evaluations
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hasbiasedimplication/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/hateoffensive/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/hateoffensive/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/implicit-hate#explicit_hate/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/implicit-hate#implicit_hate/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/implicit-hate#incitement_hate/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/implicit-hate#incitement_hate/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/tweet_irony/AGMoller/social-llama-7b-alpha_predictions_v3.json
Due: none

Predictions
  data/evaluation/socket/implicit-hate#inferiority_hate/AGMoller/social-llama-7b-beta_predictions_v3.json
Due: none

13b Llama predictions
  data/evaluation/social-dimensions/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
Due: none

Evaluation results
  data/evaluation/socket/contextual-abuse#IdentityDirectedAbuse/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/hahackathon#is_humor/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#inferiority_hate/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/sarc/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/tweet_irony/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
Due: none

Preds
  data/evaluation/socket/contextual-abuse#PersonDirectedAbuse/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/implicit-hate#stereotypical_hate/AGMoller/social-llama-7b-alpha_predictions_v3.json
Due: none

Predictions
  data/evaluation/socket/complaints/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/crowdflower/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/empathy#empathy_bin/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/hayati_politeness/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/questionintimacy/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/sexyn/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/sexyn/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/tweet_emoji/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/tweet_emotion/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
  data/evaluation/socket/tweet_offensive/AGMoller/social-llama-7b-alpha_predictions_v3.json
  data/evaluation/socket/tweet_offensive/AGMoller/social-llama-7b-beta_predictions_v3.json
  data/evaluation/socket/tweet_sentiment/meta-llama/Llama-2-13b-chat-hf_predictions_v3.json
Due: none

DPO script - check error on data loading
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Loading combined dataset works locally
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

DPO and SFT fix
  src/social_llama/training/dpo.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update SFT and calculate max steps correctly
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prepare DPO for 7B 1 epoch training
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix SFT and DPO after merge
  src/social_llama/training/dpo.py
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update DPO to always use base model when loading datasets
  src/social_llama/training/dpo.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change packing to False causing the training to stop before desired epoch
  src/social_llama/training/sft.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Test knowledge injection
  data/evaluation/socket/socket_prompts_knowledge.csv
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Evaluator
  src/social_llama/evaluation/evaluator.py
Due: bandit, black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  bandit: any of: \.py$, but not: ^data/
  black: any of: \.py$, but not: ^data/
  check-added-large-files: any file but: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  end-of-file-fixer: any file but: ^data/
  flake8: any of: \.py$, but not: ^data/
  pyupgrade: any of: \.py$, but not: ^data/
  trailing-whitespace: any file but: ^data/
